In [111]:
# -------
# IMPORT LIBRAIRIES
# -------
import numpy as np
import pandas as pd
from python_module.pricing_model import SABRModel
from python_module.tools import maximize_with_bounds

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.float_format = '{:,.2f}'.format

In [187]:
# -------
# GENERATE MARKET DATA AND GREEKS
# -------

# Pricing parameters
F     = 5000
alpha = 0.25
beta  = 1.0
rho   = -0.
nu    = 1.5
r     = 0
bd    = 5
T     = bd / 250

# Scenario parameters
slide_to_compute = [-0.3, -0.1, -0.05, -0.04, -0.03, -0.02, -0.01, 0.01, 0.02, 0.03, 0.04, 0.05, 0.1, 0.3]

market_data_list = list()

for slide in slide_to_compute:
    if slide < 0:
        K = int(F * (1 + slide + 0.005))
    if slide == 0.01:
        K = int(F)
    else:
        K = int(F * (1 + slide - 0.005))
    option_type = 'call' if K >= F else 'put'

    market_pricing_results = SABRModel.compute_option(F, K, T, alpha, beta, rho, nu, r, option_type, slide_list=slide_to_compute)

    market_data_list.append({
        'symbol': f"{bd}T_{K}K_{option_type}",
        'option_type': option_type, 
        'time_to_maturity': bd, 
        'F':F, 'r': r, 'F': F, 'K': K, 'T': T, **market_pricing_results})

market_data_df = pd.DataFrame(market_data_list)
market_data_df = market_data_df.set_index('symbol')

In [188]:
market_data_df

,option_type,time_to_maturity,F,r,K,T,IV,price,delta,gamma,vega,theta,vanna,volga,-0.30,-0.10,-0.05,-0.04,-0.03,-0.02,-0.01,0.01,0.02,0.03,0.04,0.05,0.10,0.30
symbol,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5T_3474K_put,put,5,5000,0,3474,0.02,0.36,0.00,-0.00,0.00,0.00,-0.00,-0.00,0.00,37.47,0.00,0.00,0.00,0.00,0.00,-0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5T_4475K_put,put,5,5000,0,4475,0.02,0.27,0.09,-0.00,0.00,0.04,-0.10,-0.06,116.59,972.53,50.94,2.99,1.36,0.54,0.17,0.03,0.03,0.09,0.16,0.23,0.31,0.71,2.29
5T_4725K_put,put,5,5000,0,4725,0.02,0.26,4.43,-0.06,0.00,0.81,-2.06,-0.69,771.97,"1,135.51",198.91,36.71,20.77,10.11,3.78,0.74,0.77,2.46,4.68,7.21,9.89,23.92,80.63
5T_4775K_put,put,5,5000,0,4775,0.02,0.25,8.31,-0.10,0.00,1.21,-3.08,-0.85,783.66,"1,121.35",221.81,48.13,28.33,14.34,5.58,1.15,1.17,3.87,7.52,11.72,16.24,40.14,137.03
5T_4825K_put,put,5,5000,0,4825,0.02,0.25,14.73,-0.16,0.00,1.69,-4.26,-0.92,662.10,"1,077.44",234.48,58.33,35.60,18.71,7.58,1.64,1.65,5.64,11.19,17.70,24.78,62.90,218.10
5T_4875K_put,put,5,5000,0,4875,0.02,0.25,24.67,-0.23,0.00,2.16,-5.45,-0.84,433.54,"1,000.60",234.65,65.35,41.20,22.42,9.43,2.14,2.14,7.58,15.37,24.73,35.08,91.94,325.05
5T_4925K_put,put,5,5000,0,4925,0.02,0.25,39.12,-0.33,0.00,2.56,-6.43,-0.59,183.76,892.60,221.88,67.76,43.97,24.70,10.77,2.56,2.55,9.36,19.47,31.95,46.02,125.41,454.17
5T_5000K_call,call,5,5000,0,5000,0.02,0.25,70.78,0.51,0.00,2.82,-7.08,0.03,-0.35,689.83,182.89,62.10,41.77,24.48,11.20,2.85,2.82,10.99,23.84,40.45,59.89,176.00,668.60
5T_5075K_call,call,5,5000,0,5075,0.02,0.25,40.09,0.34,0.00,2.60,-6.54,0.64,181.51,476.11,132.02,48.38,33.48,20.31,9.70,2.62,2.58,10.72,24.35,42.97,65.80,213.84,868.72
5T_5125K_call,call,5,5000,0,5125,0.02,0.25,26.05,0.25,0.00,2.25,-5.66,0.90,428.26,348.48,98.81,37.63,26.45,16.36,8.01,2.24,2.20,9.55,22.42,40.72,63.97,226.06,974.42
5T_5175K_call,call,5,5000,0,5175,0.02,0.25,16.25,0.17,0.00,1.81,-4.56,0.99,661.82,242.33,69.95,27.48,19.57,12.31,6.17,1.79,1.74,7.89,19.16,35.89,58.01,226.26,"1,050.16"
5T_5225K_call,call,5,5000,0,5225,0.02,0.25,9.75,0.11,0.00,1.36,-3.45,0.94,805.29,160.42,46.98,18.93,13.62,8.70,4.44,1.33,1.28,6.08,15.27,29.54,49.22,215.25,"1,095.08"
5T_5475K_call,call,5,5000,0,5475,0.02,0.26,0.46,0.01,0.00,0.15,-0.39,0.20,338.22,10.96,3.35,1.45,1.08,0.72,0.40,0.13,0.11,0.68,2.02,4.61,9.09,86.57,"1,013.12"
5T_6475K_call,call,5,5000,0,6475,0.02,0.32,0.00,0.00,0.00,0.00,-0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,104.89

In [193]:
atm = market_data_df[market_data_df['K']==F].iloc[0]

In [196]:
(atm[[-0.3, -0.1, -0.05, -0.04, -0.03, -0.02, -0.01, 0.01, 0.02, 0.03, 0.04, 0.05, 0.1, 0.3]] * (100_000 / atm['theta'])).sort_index()

-0.30   -9,746,570.71
-0.10   -2,584,038.95
-0.05     -877,373.22
-0.04     -590,228.37
-0.03     -345,811.09
-0.02     -158,272.96
-0.01      -40,215.60
0.01       -39,821.05
0.02      -155,308.17
0.03      -336,764.18
0.04      -571,470.01
0.05      -846,161.12
0.10    -2,486,734.50
0.30    -9,446,539.23
Name: 5T_5000K_call, dtype: object

In [184]:
slide_df = market_data_df.loc[:, [-0.3, -0.1, -0.05, -0.04, -0.03, -0.02, -0.01, 0.01, 0.02, 0.03, 0.04, 0.05, 0.1, 0.3]] 
theta = market_data_df['theta']
theta.name = 0
scenarios = pd.concat([slide_df, theta], axis=1)
scenarios = scenarios.transpose().sort_index().transpose()

In [197]:
X = scenarios[[-0.3, -0.1, -0.05, -0.04, -0.03, -0.02, -0.01, 0.01, 0.02, 0.03, 0.04, 0.05, 0.1, 0.3]].transpose()
w = np.linalg.solve(X, [0, 0, 0, 0, 0, 0, -100_000, -100_000, 0, 0, 0, 0, 0, 0])
weights = pd.Series(w, index=X.columns)

In [198]:
weights

symbol
5T_3525K_put        -1,587,823,742.89
5T_4525K_put           438,606,099.04
5T_4775K_put       -20,090,666,662.83
5T_4825K_put        65,736,889,827.90
5T_4875K_put       -40,578,229,892.15
5T_4925K_put      -221,627,623,717.57
5T_4975K_put       737,737,265,563.57
5T_5025K_call   -1,227,376,705,850.10
5T_5075K_call    1,319,478,182,394.76
5T_5125K_call     -945,187,483,416.64
5T_5175K_call      421,013,864,166.46
5T_5225K_call      -90,313,400,860.43
5T_5475K_call        1,053,520,708.51
5T_6475K_call       -1,300,953,535.03
dtype: float64

In [199]:
scenarios.multiply(weights, axis=0).sum(axis=0)

-0.30         -0.04
-0.10          0.03
-0.05         -0.05
-0.04         -0.02
-0.03          0.00
-0.02         -0.01
-0.01   -100,000.00
0.00     181,832.18
0.01    -100,000.00
0.02           0.00
0.03          -0.01
0.04           0.00
0.05          -0.00
0.10          -0.04
0.30           0.00
dtype: float64

-0.30   -9,746,570.71
-0.10   -2,584,038.95
-0.05     -877,373.22
-0.04     -590,228.37
-0.03     -345,811.09
-0.02     -158,272.96
-0.01      -40,215.60
0.00       100,000.00
0.01       -39,821.05
0.02      -155,308.17
0.03      -336,764.18
0.04      -571,470.01
0.05      -846,161.12
0.10    -2,486,734.50
0.30    -9,446,539.23
Name: 5T_5000K_call, dtype: float64